@font-face {
    font-family: 'CHERL';
    src: url('../fonts/CHERL___.eot');
    src: local('☺'), url('../fonts/CHERL___.woff') format('woff'), url('../fonts/CHERL___.ttf') format('truetype'), url('../fonts/CHERL___.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.menu{
    text-align:center;
    padding-left: 0;
    margin-bottom:0;
    list-style: none;
    width: 100%;
    margin-top: 20px;
}
.menu>li{
    position: relative;
    display: block;
    text-align:center;
    font-family:'CHERL',sans-serif;
    font-size: 5vmin;
    margin-right: 20px;
    float: none;
    vertical-align: middle;
   }
.menu>li>a{
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color:#000;
    border-radius: 4px;
    margin-bottom: 5px;
    text-align: center;

}
.row-pict{
    display:none;
}
.row-text{
    display:inline-block;
}
.menu> li :hover .row-text{display:none;}
.menu> li :hover .row-pict{display:inline-block;}
.menu> li:focus {
    color:#eee;
    text-decoration: none;
    background-color: #eee;
}
.menu> li.disabled{
    color: #777;
}
.menu > li.disabled:hover,
.menu> li.disabled :focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.menu> li + li {
    margin-left: 2px;
}
.menu > li.active,
.menu> li.active :hover,
.menu> li.active :focus {
    color: #fff;
    background-color:#8E6060;
}


@media (min-width: 768px) {
    .menu> li {
        display: table-cell;
        width: 1%;
    }
    .menu> li > a {
        margin-bottom: 0;
    }
}
.wrapper{
    height:800px;
    background: #adadad;
}

footer{
    background-color:#333;
    color:#FFF;
    text-align:center;
    min-height:200px;
}
ul.share-group{
    margin:0 auto;
    display:block;
    width:1080px;
    padding:50px;
}
.share-group li{
    display:inline-block;
    padding:10px;
}
.copy{
    padding-bottom:20px;
}